{% extends "base.html" %}
{% block title %}Send message to participants{% endblock %}
{% block body %}

<style>
    .btn {
        background-color: #4CAF50;
        color: #fff;
        border: none;
    }

    .btn:hover {
        background-color: #e7e7e7;
        color: black;
    }

</style>

<h1>What do You want to say?</h1>
<p>This message would be sent to all participants:</p>
<div class="events-container container-fluid">
    <table>
        <form style="margin: 0px auto;" method="post">
            <table style="margin: 0px auto;">
                {{ mail_form.as_table }}
            </table>
            {% csrf_token %}
            <p>
                <button type="submit" class="btn">Send!</button>
            </p>
        </form>
    </table>
</div>


{% endblock %}