{% extends "base.html" %}
{% block title %}Main Panel{% endblock %}
{% block body %}
<style>
    .h1_main {
        font-size: 60px;
        font-weight: bold;
        font-family: "Arial Black", Gadget, sans-serif, bold;
    }

    .h2_main {
        font-size: 60px;
        font-weight: bold;
        font-family: "Arial Black", Gadget, sans-serif, bold;
        color: #4CAF50;
    }

    .p_main {
        font-size: 25px;
        font-family: "Arial Black", Gadget, sans-serif;
    }
</style>
<h1 class="h1_main"> Welcome to </h1>
<h2 class="h2_main"> COSINE! </h2>
<p class="p_main" >   </p>
<p class="p_main" > From now on, you can organize any type of events! </p>
<p class="p_main" > Are you going for a weekend in the mountains? </p>
<p class="p_main" > Are you planning to go to a concert with your friends?  </p>
<p class="p_main" > Or maybe you want to join the event and meet new people? </p>
<p class="p_main" >   </p>
<p class="p_main" > Easily create events, manage enrollments, </p>
<p class="p_main" > contact other participants and plan all events for a long time! </p>
{% endblock%}