{% extends 'base.html'%}
{% block title %}Event details{% endblock %}
{% block body %}

<style>
    .btn {
        background-color: #4CAF50;
        color: #fff;
        border: none;
    }

    .btn:hover {
        background-color: #e7e7e7;
        color: black;
    }

</style>


<div class="col-sm-12">
    <h1>{{ event.name }}</h1>
</div>

<div class="events-container container-fluid">
    <table>
        <tr>
            <th style="width: 30%;"><img src="{{ event.image.url }}" class="img-responsive"></th>
            <th class="text-left" style="padding-left: 40px;">
                <h4>Date: {{ event.date }}</h4>
                <h4>Spots: {{ event.spots }}</h4>
                <h4>Location: {{ event.location }}</h4>
                <h4>Price: {{ event.price }}</h4>
                <h4>Enrollment begins: {{ event.enrollment_begin }}</h4>
                <h4>Enrollment ends: {{ event.enrollment_end }}</h4>
                <h4>Owner: {{ event.owner.username }}</h4>
                <h4>Description:</h4>
                <p>{{ event.description }}</p>
                {% if user == 'owner' or user == 'enrolled' %}
                <h4>Participants:</h4>
                <p>
                {% for user in event.participants.all %}
                <li>{{ user.username }}</li>
                {% endfor %}
                </p>
                {% if user == 'owner' %}
                    <a href="{% url 'edit_event' event.id %}" class="btn" role="button">Edit event</a>
                    <a href="{% url 'mailing_engine:send_info' event.id  %}" class="btn" role="button">Send info to all</a>
                    <a href="{% url 'mailing_engine:send_message' event.id  %}" class="btn" role="button">Send message</a>
                    <form action="{% url 'delete' event.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="event_id" value="{{ event.id }}"/>
                        <button type="submit" class="btn">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                {% endif %}
                {% if user == 'enrolled' %}
                    <a href="{% url 'mailing_engine:send_info' event.id  %}" class="btn" role="button">Send me info</a>
                {% endif %}
            </th>
            <th style="width:20%;padding-left: 20px;"> <img src="{{ event.qr_code.url }}" class="img-responsive"> </th>
        </tr>
    </table>
    <table>
        {% with comments.count as total_comments %}
        <h4>
            {{ total_comments }} comment{{ total_comments|pluralize:"s" }}
        </h4>
        {% endwith %}
        {% for comment in comments %}
        <div class="well comment">
            <p class="info">
                {{ comment.name }},
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
        <h4>Add new comment</h4>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input class="btn" type="submit" value="Add comment"></p>
        </form>
        {% endif %}
    </table>
</div>

<div class="well text-left">
    <h4>Description:</h4>
    <p>{{ event.description }}</p>
</div>
{% if user == 'owner' or user == 'enrolled' %}
    <div class="well text-left">
        <h4>Participants:</h4>
        <p>
            {% for user in event.participants.all %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </p>
    </div>

    <div class="well text-left">
		{% with comments.count as total_comments %}
		<h2>
			{{ total_comments }} comment{{ total_comments|pluralize:"s" }}
		</h2>
		{% endwith %}
		{% for comment in comments %}
			<div class="well comment">
			<p class="info">
				{{ comment.name }},
				{{ comment.created }}
			</p>
			{{ comment.body|linebreaks }}
			</div>
			{% empty %}
				<p>No comments yet.</p>
		{% endfor %}

				<h2>Add new comment</h2>
				<form action="." method="post">
					{{ comment_form.as_p }}
					{% csrf_token %}
					<p><input type="submit" value="Add comment"></p>
				</form>
{% endif %}
    </div>

<div class="well text-left">
    <h4>QR-Code-Link:</h4>
    <img src="{{ event.qr_code.url }}" class="img-responsive">
</div>
{% endblock %}
