{% extends 'base.html'%}
{% block title %}Event details{% endblock %}
{% block body %}
<div class="well">
    <h1>{{ event.name }}</h1>
</div>

<div class="well">
    <table>
        <tr>
            <th style="width: 40%;"><img src="{{ event.image.url }}" class="img-responsive"></th>
            <th class="text-left">
                <h4>Date: {{ event.date }}</h4>
                <h4>Spots: {{ event.spots }}</h4>
                <h4>Location: {{ event.location }}</h4>
                <h4>Price: {{ event.price }}</h4>
                <h4>Enrollment begins: {{ event.enrollment_begin }}</h4>
                <h4>Enrollment ends: {{ event.enrollment_end }}</h4>
                <h4>Owner: {{ event.owner.username }}</h4>
                {% if user == 'owner' %}
                    <a href="{% url 'edit_event' event.id %}" class="btn btn-primary active" role="button">Edit event</a>
                    <a href="{% url 'mailing_engine:send_info' event.id  %}" class="btn btn-primary active" role="button">Send info</a>
                    <a href="{% url 'mailing_engine:send_message' event.id  %}" class="btn btn-primary active" role="button">Send message</a>
                    <form action="{% url 'delete' event.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="event_id" value="{{ event.id }}"/>
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                {% endif %}
                {% if user == 'enrolled' %}
                    <a href="{% url 'mailing_engine:send_info' event.id  %}" class="btn btn-primary active" role="button">send info</a>
                {% endif %}
            </th>
        </tr>
    </table>
</div>

<div class="well text-left">
    <h4>Description:</h4>
    <p>{{ event.description }}</p>
</div>
{% if user == 'owner' or user == 'enrolled' %}
    <div class="well text-left">
        <h4>Participants:</h4>
        <p>
            {% for user in event.participants.all %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </p>
    </div>

    <div class="well text-left">
        <h4>Reserve list:</h4>
    </div>
{% endif %}
<div class="well text-left">
    <h4>QR-Code-Link:</h4>
    <img src="{{ event.qr_code.url }}" class="img-responsive">
</div>
{% endblock %}
