{% extends 'base.html'%}
{% block title %}Event List{% endblock %}
{% block body %}
<style>
    .btn {
        background-color: #4CAF50;
        color: #fff;
        border: none;
    }
</style>
<div class="events-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ type|title }} events</h3>
        </div>
        {% if events %}
        {% for event in events %}
        <div class="imgContainer">
            <a href="{% url 'detail' event.id %}">
                    <img src="{{ event.image.url }}" class="img-fluid">
            </a>
            <div class="desc">
                <h2 class="h2_list">{{ event.name }}</h2>
                <a href="{% url 'detail' event.id %}" class="btn btn-primary btn-sm" role="button" class="btn">View Details</a>
                {% if type == 'owned' %}
                <form action="{% url 'delete' event.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ event.id }}"/>
                    <button type="submit" class="btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
                {% elif type == 'available' and event.can_enroll%}
                <a href="{% url 'enroll' event.id %}" class="btn btn-primary btn-sm" role="button" class="btn">Enroll</a>
                {% elif type == 'enrolled' %}
                <a href="{% url 'leave' event.id %}" class="btn btn-primary btn-sm" role="button" class="btn">Leave</a>
                {% endif %}
            </div>
        </div>
        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
        {% endfor %}
        {% else %}
        <div class="col-sm-12">
            <br>
            {% if type == 'owned' %}
            <a href="{% url 'add_event' %}">
                <button type="button" class="btn">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Event
                </button>
            </a>
            {% else %}
            <h4>You currently have no {{ type }} events.</h4>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
