{% extends 'base.html'%}
{% block title %}Event details{% endblock %}
{% block body %}

<div class="well">
	<h1>{{ event.name }}</h1>
</div>

<div class="well">
<table>
  <tr>
    <th style="width: 40%;"><img src="{{ event.image.url }}" class="img-responsive"></th>
    <th class="text-left">
    	<h3>Date: {{ event.date }}</h3>
    	<h4>Spots: {{ event.spots }}</h4>
    	<h4>Location: {{ event.location }}</h4>
   	 	<h4>Price: {{ event.price }}</h4>
   	 	<h4>Enrollment begins: {{ event.enrollment_begin }}</h4>
    	<h4>Enrollment ends: {{ event.enrollment_end }}</h4>
    	<h4>Owner: {{ event.owner.username }}</h4>
    </th>
  </tr>
</table>
</div>

<div class="well text-left">
	<p>{{ event.description }}</p>
</div>

<div class="well text-left">
	<p>Participants:</p>
	<p>
		{% for user in event.participants.all %}
        {{ user.username }}
        {% endfor %}
	</p>
</div>

<div class="well text-left">
	<p>Forum here.</p>
</div>
{% endblock %}
